html {   
    height: 100%;
}

body {
    background-image: linear-gradient(#fff8, #fff8), url("crosspoint.jpg"); 
    background-size: cover;
    background-position: center;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: bold;
    text-align: center;
    min-height: 100%;
}

.container {
    max-width: 80%;
    margin: auto;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    font-family: 'Bricolage Grotesque', sans-serif;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: 800;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #285943;
}

#save-btn {
    background: #61A0AF;
}

